@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Uma aplicação WEB em<a href="https://docs.microsoft.com/aspnet/core"> MVC</a>.</p>
</div>
