<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<a href="C:\Users\twila\source\repos\MVC_Web\MVC_Web\Views\Shared\_ValidationScriptsPartial.cshtml">C:\Users\twila\source\repos\MVC_Web\MVC_Web\Views\Shared\_ValidationScriptsPartial.cshtml</a>